.vh-viz-page-sidebar {
  width: 200px;
  height: 100%;
  background-color: #3d4b65;
  color: white;
  // overflow: auto;

  // .sidebar-entry {
  //   margin: 8px;
  //   padding: 3px 8px;
  //   border-radius: 5px;
  //   cursor: pointer;
  //   user-select: none;
  // }
  // .sidebar-entry:hover,
  // .sidebar-entry:focus {
  //   background-color: #5f687a;
  // }
  // .sidebar-entry.active {
  //   background-color: #5f687a;
  //   outline: 1px solid white;
  // }
  // .sidebar-entry.hide-sidebar {
  //   font-size: 0.75em;
  //   text-decoration: underline;
  // }
}
