[data-read='true'] {
  border-left: 10px blue;
}

div.comment-notification-row {
  border-style: none;
  border-width: 0;

  background-color: aliceblue;

  div.row > {
    div.col-md-auto.col > {
      div.center-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        width: 64px;
      }
      a > img {
        height: 25%;
        width: 50%;
      }
    }
    div.col {
      box-sizing: content-box;

      display: flex;
      justify-content: start;
      align-items: center;
      height: 64px;

      div.centered-text-container {
        height: 50%;
        p {
          margin: 0;
        }
      }
    }
  }
}
