.vh-home-page {
  .blurb-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow-y: auto;
    min-height: 0;

    .blurb {
      max-width: 960px;

      padding: 10px;
      display: flex;
      flex-direction: column;

      .description {
        font-size: 1.5em;
        margin: 1em 0 1.5em 0;
      }

      .callout {
        font-family: Poppins;
        font-size: 3em;
      }
      .vh-email-submission {
        max-width: 550px;
        input {
          background-color: rgb(255, 255, 255);
        }
      }
    }
  }
}
