.App {
  height: 100%;
  display: flex;
  justify-content: space-between;

  .sidebar {
    width: 200px;
    background-color: #3d4b65;
    color: white;

    .entry {
      margin: 8px;
      padding: 3px 8px;
      border-radius: 5px;
      cursor: pointer;
      user-select: none;
    }
    .entry:hover {
      background-color: #5f687a;
    }
    .entry.active {
      background-color: #1f61e5;
    }
  }

  .component {
    flex: 1;
  }
}
