.vh-viz-page-head {
  padding: 8px;
  background-color: var(--vh-color-neutral-02);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .side {
    display: flex;
    padding: 0 5px;
    gap: 16px;
    .btn {
      font-weight: 500;
      display: flex;
      align-items: center;
      background-color: var(--vh-color-neutral-02);
      border: none;
      font-size: 16px;
      svg {
        margin-right: 8px;
        color: var(--vh-color-neutral-04);
      }
    }
    .btn:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
