.vh-viz-page-head {
  padding: 4px 8px;
  background-color: var(--vh-color-neutral-02);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1200px) {
    padding: 0;
  }

  .side {
    display: flex;
    padding: 0 16px 0 2px;
    @media (min-width: 1201px) {
      gap: 16px;
    }

    .btn {
      font-weight: 500;
      display: flex;
      align-items: center;
      background-color: var(--vh-color-neutral-02);
      border: none;
      font-size: 16px;

      @media (max-width: 1200px) {
        padding: var(--bs-btn-padding-y);
      }

      svg {
        color: var(--vh-color-neutral-04);
        @media (min-width: 1201px) {
          margin-right: 8px;
        }
      }
      .btn-text {
        /* Hide on mobile */
        @media (max-width: 1200px) {
          display: none;
        }
      }
    }
    .btn:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
