.vh-viz-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: var(--vh-box-shadow);
  border-radius: 20px;
  cursor: pointer;

  /* Aspect ratio, original thumbnail size: 230 X 120*/
  width: 300px;
  /* 230 X 120 */
  /* 280 X 146 */
  /* 300 X 156 */
  user-select: none;

  // Style .vh-viz-preview.hot-viz
  &.hot-viz-preview {
    box-shadow: var(--vh-color-caution-01) 0px 0px 4px 0px;
  }

  .thumbnail {
    width: 100%;
    height: 156px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-position: left top;
    transition: background-position 3s;
    background-size: cover;
    position: relative;

    .thumbnail-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
    }

    .visibility-label {
      position: absolute;
      bottom: -11px;
      right: 0px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-right: 6px;
      height: 32px;
    }
  }

  /* Spinner overlay */
  .thumbnail-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    opacity: 0.6;
    // background-color: rgba(255, 255, 255, 0.5);
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  .thumbnail:hover {
    background-position: right bottom;
  }
  .content-container {
    min-height: 48px;
    display: flex;
    flex-direction: row;
    padding: 0 14px;
    border-top: 1px solid var(--vh-color-rule-01);

    /* Handle single-line titles. */
    flex: 1;
    justify-content: space-between;
    align-items: center;

    .title {
      padding: 2px 0;
      color: var(--vh-color-neutral-01);
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 550;

      /* Truncate text at 2 lines. */
      /* Inspired by https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp */
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      box-orient: vertical;
      line-clamp: 2;
      overflow: hidden;
    }
  }
  .analytics-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
  }

  .meta-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--vh-color-rule-01);

    display: flex;
    padding: 8px 12px 8px 8px;

    .owner {
      flex: 1;
      display: flex;
      align-items: center;
      min-width: 0;

      .owner-avatar-image {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        box-shadow: var(--vh-box-shadow);
      }
      .owner-meta {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4px;
        margin-left: 8px;
        font-size: 12px;
        .owner-name {
          color: var(--vh-color-neutral-03);
          // Truncate long names.
          // overflow: hidden;
          // text-overflow: ellipsis;
          // line-height: 1.5;
          // white-space: nowrap;
        }
        .last-updated-date {
          // color: var(--vh-color-neutral-03);
          color: var(--vh-color-neutral-04);
        }
      }
    }
  }
  .last-updated-date,
  .owner-name {
    color: var(--vh-foreground-color-light);
    font-weight: 500;
    // line-height: 16px;
    line-height: 12px;
  }
}

.vh-viz-preview:hover {
  transform: translateY(-1px);
}

.vh-viz-preview:active {
  transform: translateY(1px);
}

a.vh-viz-preview {
  text-decoration: none;
  color: currentcolor;
}
