.vh-create-viz-page {
  overflow: auto;

  h1,
  h2 {
    color: var(--vh-color-neutral-02);
  }
  .vh-lede-01 {
    color: var(--vh-color-neutral-01);
    .emphasized {
      font-weight: 600;
    }
  }
  .viz-preview-collection {
    margin-top: 24px;
  }

  .create-viz-content {
    display: flex;
    flex-direction: column;
    gap: 70px;
    .create-viz-header {
      display: flex;
      flex-direction: column;
    }
  }
}
