.vh-create-viz-page {
  overflow: auto;

  .create-viz-content {
    display: flex;
    flex-direction: column;
    gap: 70px;
    .create-viz-header {
      display: flex;
      flex-direction: column;
      h1 {
        color: var(--vh-color-neutral-02);
      }
      .vh-lede-01 {
        color: var(--vh-color-neutral-01);
        .emphasized {
          font-weight: 600;
        }
      }
    }
  }
}
