/*
  Breakpoint for when to only show one thing at a time,
  and when to show both the editor and the viz.
*/
$mobile-breakpoint: 550px;

.vh-viz-page-body {
  flex: 1;
  display: flex;

  /* This makes the parent fill the available vertical space */
  min-height: 0;

  /* To support Resizer, which is position: absolute */
  position: relative;

  .left {
    @media (max-width: $mobile-breakpoint) {
      width: 100%;
    }
  }
  .middle {
    display: flex;
    // flex: 1;
    flex-direction: column;

    /* To suport PrettierErrorOverlay, which is position: absolute */
    position: relative;

    /* Cool effect */
    .vz-tab-list {
      border-top-right-radius: 24px;
    }
  }
  .right {
    flex: 1;
    position: relative;
    .vh-viz-page-viewer {
      width: 100%;
      position: absolute;
    }
  }
  .right.editor-open {
    @media (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}

.vh-markdown-body img {
  width: 100%;
}

.vh-markdown-body img,
.vh-markdown-body iframe {
  box-shadow: var(--vh-box-shadow);
  border-radius: 3px;
}

.vh-markdown-body .responsive-youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
}

.vh-markdown-body .responsive-youtube iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

//////////////// Begin pasted block ////////////////
// TODO reduce duplication with `vzcode/src/client/style.scss`
:root {
  --vzcode-font-family: 'Inconsolata', monospace !important;
  --vzcode-font-size: 16px;

  /* Variable for the background color */
  --vz-bg-color: rgb(
    41,
    44,
    52
  ); /* Variable for the background color */
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--app-bg-color);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

//////////////// End pasted block ////////////////
