.layout-centered{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--vh-background-color);
}

.layout-fullscreen{
    height: 100%;
    background-color: var(--vh-background-color);
}