.vh-comments {
  display: flex;
  flex-direction: column;

  h4 {
    margin-bottom: 20px;
  }

  .comment-top {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .comment-date {
    color: var(--vh-color-neutral-03);
  }

  .comment-author {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    color: var(--vh-color-neutral-01);
    text-decoration: none;
  }

  .comment-bottom {
    margin-left: 48px;

    .vh-markdown-body {
      padding-top: 8px;
      padding-bottom: 32px;
      color: var(--vh-color-neutral-01);
    }
  }
  .comment-avatar {
    box-shadow: var(--vh-box-shadow);
    border-radius: 50%;
  }
  .comment-box {
    display: flex;
    gap: 12px;
  }
}
