.vh-forks-widget {
  display: flex;
  align-items: center;
  color: var(--vh-color-neutral-03);

  .widget-label-container {
    display: flex;
    align-items: center;
    color: var(--vh-color-neutral-03);
    text-decoration: none;
    gap: 4px;
    margin-left: -5px;
    // margin-right: 0px;
  }

  i {
    color: var(--vh-color-neutral-04);
  }
  i.icon-button-light:hover {
    color: var(--vh-color-neutral-03);
  }
  .widget-label {
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
