.vh-forks-widget {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--vh-color-neutral-03);
  font-weight: 500;
  svg {
    color: var(--vh-color-neutral-04);
    cursor: pointer;
  }
}
