// .vh-forks-widget {
//   display: flex;
//   align-items: center;
//   gap: 4px;
//   color: var(--vh-color-neutral-03);
//   font-weight: 500;
//   text-decoration: none;
//   svg {
//     color: var(--vh-color-neutral-04);
//     cursor: pointer;
//   }
//   .widget-label {
//     @media (max-width: 1200px) {
//       display: none;
//     }
//   }
// }
.vh-forks-widget {
  display: flex;
  align-items: center;
  color: var(--vh-color-neutral-03);
  font-weight: 500;

  .widget-label-container {
    display: flex;
    align-items: center;
    color: var(--vh-color-neutral-03);
    text-decoration: none;
    gap: 4px;
    margin-left: -3px;
    margin-right: -3px;
  }

  i {
    color: var(--vh-color-neutral-04);
  }
  i.icon-button-light:hover {
    color: var(--vh-color-neutral-03);
  }
  .widget-label {
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
