.featured-live-viz {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;

  .featured-live-viz-content {
    width: 1330px;

    h2 {
      margin-bottom: 32px;
    }
  }
}
