@keyframes backgroundScroll {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}

.home-starter {
  border-radius: 12px;
  box-shadow: var(--vh-box-shadow);

  background-image: url(https://vizhub-images.s3.amazonaws.com/home-starter-background.webp);
  // background-size: cover;
  background-size: 110% auto;
  background-position: center;
  animation: backgroundScroll 90s ease-in-out infinite;

  padding: 70px;
  margin-top: 40px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    margin-bottom: 20px;
  }
  .vh-lede-01 {
    max-width: 786px;
  }
  .home-starter-buttons {
    display: flex;
    gap: 12px;
    margin-top: 40px;

    // mobile
    @media (max-width: 768px) {
      flex-direction: column;
      // gap: 20px;
    }
  }
  ul {
    margin-bottom: 0;
    // Hide on mobile
    @media (max-width: 768px) {
      display: none;
    }
  }
}
