.vh-pricing-page {
  overflow: auto;
  position: relative;

  img.header-background {
    position: absolute;
    width: 100%;
  }

  .pricing-page-body {
    position: absolute;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .pricing-page-content {
      width: 100%;
      max-width: 1280px;

      .pricing-page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 70px;

        h1 {
          color: white;
        }

        /* TODO move these into vizhub-ui */
        .btn-secondary {
          background-color: #e0e8ff;
          color: #3866e9;
          font-weight: bold;
        }

        .btn-outline-secondary {
          color: #ffffff;
        }
        .btn-outline-secondary:hover {
          background-color: #e0e8ff2a;
        }

        .btn {
          border: 1px solid #e0e8ff;
        }
      }
    }
  }
}
