.vh-pricing-page {
  overflow: auto;
  // .card {
  //   box-shadow: var(--vh-box-shadow);
  //   background-color: white;
  //   font-size: 18px;
  // }

  .plans {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 800px;
    margin: auto;
  }

  .plan-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card h2 {
    margin-top: 0;
  }

  .current {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
  }

  .upgrade {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
  }

  .price {
    display: flex;
    align-items: baseline;
  }

  .price span:first-child {
    font-size: 24px;
    font-weight: bold;
  }

  .price span:last-child {
    margin-left: 5px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }

  ul li:last-child {
    border-bottom: none;
  }

  .toggle-buttons {
    text-align: center;
  }

  .toggle-buttons button {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
  }
}
