@import 'tailwindcss';

/* Make all pages exactly 100% height. */
/* Each page is responsible for its own scrollbars */
html,
body,
#app {
  height: 100%;
}

.upgrade-callout-text {
  color: var(--vh-color-warning-01);
  a {
    color: var(--vh-color-warning-01);
  }
}
