.vh-upvote-widget {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--vh-color-neutral-03);
  font-weight: 500;
  svg {
    color: var(--vh-color-neutral-04);
    cursor: pointer;
  }
}
.vh-upvote-widget.upvoted {
  svg path {
    color: transparent;
    fill: var(--vh-color-caution-01);
  }
}
