.vh-upvote-widget {
  display: flex;
  align-items: center;
  color: var(--vh-color-neutral-03);
  font-weight: 500;
  gap: 4px;
  a {
    display: flex;
    align-items: center;
    color: var(--vh-color-neutral-03);
    text-decoration: none;
    gap: 4px;
  }
  svg {
    color: var(--vh-color-neutral-04);
    cursor: pointer;
  }
  .widget-label {
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
.vh-upvote-widget.upvoted {
  svg path {
    color: transparent;
    fill: var(--vh-color-caution-01);
  }
}
