@media (max-width: 768px) {
  .vh-header-button {
    margin-bottom: 10px;
  }
}
.vh-brand-logo{
  padding-top: 0;
  padding-bottom: 0;
}
.navbar__avatar-toggle{
  padding-top:0.25rem;
  padding-bottom:0.25rem;
}