.vh-navbar.navbar {
  background-color: #1e1e2f;
  padding: 16px 8px;

  @media (max-width: 1200px) {
    padding: 8px 0px;
  }

  .navbar-nav {
    gap: 4px;

    @media (max-width: 1200px) {
      gap: 0px;
    }
  }

  .nav-link {
    color: white;
    font-weight: 500;
    border-radius: 4px;
  }

  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .vh-brand-logo {
    padding: 0;
  }

  .navbar__avatar-toggle {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: var(--vh-color-neutral-03);
    transition: none;
  }

  .navbar__avatar-toggle:active:focus {
    box-shadow: none;
  }

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 8px;
    vertical-align: 0.1em;
    scale: 1.5;
  }

  .vh-search-box {
    background-color: var(--vh-color-neutral-02);
    color: white;

    /* border-color: transparent; */

    &:focus {
      border-color: white;
    }
  }

  .vh-brand-logo {
    cursor: pointer;
  }

  .vh-notifications-button {
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    color: white;
    opacity: 0.9;
  }

  .vh-notification-badge {
    position: absolute;
    top: 30%;
    left: 65%;
    transform: translate(-50%, -50%);
    padding: 0.3rem;
    background-color: var(--bs-primary);
    border: 1px solid white;
    border-radius: 50%;
  }

  .vh-avatar-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}
