.vh-navbar.navbar {
  background-color: #1e1e2f;
  padding: 16px 8px;

  @media (max-width: 1200px) {
    padding: 8px 0px;
  }

  .navbar-nav {
    gap: 4px;

    @media (max-width: 1200px) {
      gap: 0px;
    }
  }

  .nav-link {
    color: white;
    font-weight: 500;
    border-radius: 4px;
  }

  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .vh-brand-logo {
    padding: 0;
  }

  .navbar__avatar-toggle {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: var(--vh-color-neutral-03);
    transition: none;
  }

  .navbar__avatar-toggle:active:focus {
    box-shadow: none;
  }

  .dropdown {
    padding-left: 12px;
  }

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 8px;
    vertical-align: 0.1em;
    scale: 1.5;
  }

  .vh-search-box {
    background-color: var(--vh-color-neutral-02);
    color: white;

    /* border-color: transparent; */

    &:focus {
      border-color: white;
    }
  }
}
