.vh-landing-page-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  .vh-landing-page-hero {
    width: 100%;

    background-image: url('https://github.com/vizhub-core/vizhub-legacy/assets/68416/4e18e38b-0449-4ff5-bf0c-2d84385d32e7');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    justify-content: space-between;

    .vh-landing-page-hero__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 60px 60px 120px 120px;
      max-width: 900px;

      .vh-landing-page-hero__title {
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 1rem;
        color: rgba(255, 255, 255, 0.9);
      }

      .vh-landing-page-hero__description {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 2rem;
        color: rgba(255, 255, 255, 0.9);
        max-width: 450px;
      }

      .vh-landing-page-hero__button {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 1rem;
        color: rgba(0, 0, 0, 0.9);
        background-color: #9e9e9e;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
    // .vh-landing-page-hero__image {
    //   flex: 1;
    // }
  }

  .vh-landing-page-features {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;

    .vh-landing-page-features__title {
      font-size: 42px;
      font-weight: 600;
      margin: 60px 0 30px 0;
      color: rgba(0, 0, 0, 0.9);
    }
    .feature {
      max-width: 960px;
      margin: 30px 0;
      // Add a background color to the feature
      background-color: white;
      padding: 35px;
      gap: 35px;
      border-radius: 40px;
      display: flex;
      justify-content: space-between;

      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

      .feature__group {
        flex: 1;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: flex-start;
      }

      .feature__header {
        font-size: 32px;
      }
      .feature__title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1rem;
        color: #9e9e9e;
      }

      .feature__description {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 1rem;
        color: rgba(0, 0, 0, 0.9);
      }

      .feature__image {
        background-color: #9e9e9e;
        width: 400px;
        height: 300px;
        border-radius: 10px;
        font-size: 12px;
        padding: 30px;
      }
    }
  }
}
