@media (max-width: 768px) {
  .vh-header-button {
    margin: 30px;
  }
}
.vh-brand-logo {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
}
.navbar__avatar-toggle {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.basic-navbar-nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;

  
}
.vh-header-button {
  margin: 30px;
}
.align-items-md-left {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding-right: 10px;
  justify-content: left;
  flex : 1;
  margin-bottom: 0px;

}   


