@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@800&display=swap');

.vh-page {
  background-color: var(--vh-background-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* This is for setting the padding on the page responsively */
.vh-page-container {
  padding: 70px 280px;

  /* Reduced padding for large screens (Bootstrap's xl breakpoint) */
  @media (max-width: 1400px) {
    padding: 70px 200px;
  }

  /* Further reduced padding for medium-large screens (Bootstrap's lg breakpoint) */
  @media (max-width: 1200px) {
    padding: 70px 150px;
  }

  /* Moderate padding for small screens/tablets (Bootstrap's md breakpoint) */
  @media (max-width: 992px) {
    padding: 70px 100px;
  }

  /* Lesser padding for smaller devices (Bootstrap's sm breakpoint) */
  @media (max-width: 768px) {
    padding: 70px 50px;
  }

  /* Minimal padding for very small/mobile devices (Bootstrap's xs breakpoint) */
  @media (max-width: 576px) {
    padding: 70px 20px;
  }
}

.vh-page-header {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: flex-end;
}
