@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@800&display=swap');

.vh-page {
  background-color: var(--vh-background-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}
