.vh-profile-page {
  overflow: auto;
  display: flex;
  align-items: center;

  .profile-body {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;

    @media (max-width: 1280px) {
      flex-direction: column;
    }

    .profile-sidebar {
      display: flex;
      flex-direction: column;
      gap: 30px;
      flex: 0 0 300px;

      .profile-avatar-container {
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
      }

      .profile-avatar {
        width: 164px;
        height: 164px;
        border-radius: 50%;
        box-shadow: var(--vh-box-shadow);

        /* In case of transparent background */
        background-color: white;
      }

      .profile-premium-badge {
        position: absolute;
        bottom: 5%;
        right: 5%;

        display: flex;
        align-items: center;
        justify-content: center;

        svg circle {
          stroke: rgba(0, 0, 0, 0.195);
          paint-order: stroke;
        }
      }

      .profile-name {
        color: var(--vh-color-neutral-02);
      }

      .profile-username-section {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .edit-bio {
        margin-top: 16px;
        color: var(--vh-color-action-01);
        cursor: pointer;
      }

      .profile-sidebar-sections {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .profile-sidebar-section {
          padding: 8px;
          display: flex;
          align-items: center;
          gap: 8px;
          cursor: pointer;
          border-radius: 4px;

          svg {
            color: var(--vh-color-neutral-04);
          }

          &:hover {
            background-color: var(--vh-color-hover-light);

            svg {
              color: var(--vh-color-neutral-03);
            }
          }
        }
        .profile-sidebar-section.active {
          background-color: var(--vh-color-action-03);
          color: var(--vh-color-action-01);
          pointer-events: none;

          svg {
            color: var(--vh-color-action-01);
          }
        }
      }
    }
    .profile-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .profile-header {
        display: flex;
        justify-content: space-between;

        @media (max-width: 750px) {
          flex-direction: column;
          gap: 20px;
        }

        h2 {
          color: var(--vh-color-neutral-01);
          margin-bottom: 0;
        }

        .profile-header-controls {
          display: flex;
          gap: 28px;
          align-items: center;

          @media (max-width: 576px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
          }
        }
      }

      .viz-preview-collection {
        @media (max-width: 576px) {
          align-items: center;
        }
      }
    }
  }
}
