/* TODO move this into vizhub-ui */

.vh-lede-01 {
  color: var(--vh-color-neutral-01);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.vh-base-01,
.vh-base-02 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.vh-base-02 {
  font-weight: 700;
}

.vh-profile-page {
  overflow: auto;
  padding: 70px;

  .profile-body {
    display: flex;
    flex-direction: row;
    gap: 70px;
    .profile-sidebar {
      display: flex;
      flex-direction: column;
      gap: 32px;
      // width: 300px;
      flex: 0 0 300px;
      .profile-avatar {
        width: 164px;
        height: 164px;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      .profile-name {
        color: var(--vh-color-neutral-02);
      }

      .edit-bio {
        margin-top: 16px;
        color: var(--vh-color-action-01);
        cursor: pointer;
      }

      .profile-sidebar-sections {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .profile-sidebar-section {
          padding: 8px;
          display: flex;
          align-items: center;
          gap: 8px;
          cursor: pointer;

          svg {
            color: var(--vh-color-neutral-04);
          }
        }
        .profile-sidebar-section.active {
          background-color: var(--vh-color-action-03);
          color: var(--vh-color-action-01);

          svg {
            color: var(--vh-color-action-01);
          }
        }
      }
    }
    .profile-content {
    }
  }
}
