.tick line {
  stroke: #dadada;
}
.tick text {
  font-size: 14px;
  fill: #626262;
}

.event-viz {
  margin: 50px 30px;
  display: flex;
  flex-direction: column;
}

.event-viz-title {
  margin-left: 30px;
  font-size: 20px;
}
